<section class="advantages">
    <div class="advantages-list-img">
    <h3 class="visually-hidden">Advantages</h3>
            <ol class="advantages-list">
                <li class="advantages-item">
                    <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
                </li>
                <li class="advantages-item">
                    <p class="advantages-text">Fishing: try to catch your own dinner</p>
                </li>
                <li class="advantages-item">
                    <p class="advantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                </li>
                <li class="advantages-item">
                    <p class="advantages-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere</p>
                </li>
            </ol>
            <picture>
                <source srcset="./img/advantages/Advantages-desktop.jpg 1x, ./img/advantages/Advantages-desktop-2x.jpg 2x" 
                    media="(min-width: 1280px)">
                <source srcset="./img/advantages/Advantages-tablet.jpg 1x, ./img/advantages/Advantages-tablet-2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./img/advantages/Advantages.jpg 1x, ./img/advantages/Advantages_2x.jpg 2x"
                    media="(min-width: 375px)">
                <img src="./img/advantages/Advantages.jpg" alt="Advantages" class="image-advantages" >
            </picture>
        </div>  
</section>