<footer class="footer">
  <div class="footer-background conteiner">
    <div class="fot-tablet-list">
      <div class="first-footer-section">
        <p class="footer-name" data-aos="fade-up">yachtjet</p>
        <ul class="footer-buttons">
          <li>
            <button type="submit" class="button-footer-sent" data-aos="fade-up" data-aos-delay="100">ABOUT</button>
          </li>
          <li>
            <button type="submit" class="button-footer-sent" data-aos="fade-up" data-aos-delay="200">YACHTS</button>
          </li>
          <li>
            <button type="submit" class="button-footer-sent" data-aos="fade-up" data-aos-delay="300">REVIEWS</button>
          </li>
        </ul>
      </div>

      <div class="footer-soc-link">
        <ul class="footer-soc-icon">
          <li class="foot-icon-link" data-aos="fade-up" data-aos-delay="400">
            <a
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="icon-soc-fot-svg"
            >
              <svg class="icon-soc-foot" width="20" height="20">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="foot-icon-link" data-aos="fade-up" data-aos-delay="500">
            <a
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="icon-soc-fot-svg"
            >
              <svg class="icon-soc-foot" width="20" height="20">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="foot-icon-link" data-aos="fade-up" data-aos-delay="600">
            <a
              href="https://www.facebook.com/goITclub/ "
              target="_blank"
              class="icon-soc-fot-svg"
            >
              <svg class="icon-soc-foot" width="20" height="20">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="footer-slogan-conteiner">
      <p class="footer-slogan" data-aos="fade-right">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
    </div>

    <ul class="footer-end-item">
      <li class="footer-end-link">
        <p class="footer-end-text">2023. Yacht Adventures</p>
      </li>
      <li class="footer-end-link">
        <a href="#" class="footer-end-text">Privacy Police</a>
      </li>
    </ul>
  </div>
</footer>
