<header id="header">
  <div class="header">
    <div class="container header-wrap">
      <div class="header-container">
        <a
          class="logo-header"
          href="https://sanetchek.github.io/project_group_24/"
          aria-label="Home"
          >yachtjet</a
        >
        <nav class="menu-nav-tabl">
          <ul class="menu-list">
            <li id="menu_about" class="menu-list-item">
              <a href="#about" aria-label="About section" class="menu-list-link"
                >About</a
              >
            </li>
            <li id="menu_yachts" class="menu-list-item">
              <a
                href="#yachts"
                aria-label="Yachts section"
                class="menu-list-link"
                >Yachts</a
              >
            </li>
            <li id="menu_review" class="menu-list-item">
              <a
                href="#reviews"
                aria-label="Review section"
                class="menu-list-link"
                >Reviews</a
              >
            </li>
          </ul>
        </nav>
        <div class="menu-social tablet">
          <ul class="menu-social-list">
            <li class="menu-social-item">
              <a
                href="https://www.instagram.com/goitclub/"
                aria-label="Instagram"
                target="_blank"
              >
                <svg class="menu-social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="menu-social-item">
              <a href="https://www.youtube.com/c/GoIT" aria-label="Youtube" target="_blank">
                <svg class="menu-social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
            <li class="menu-social-item">
              <a
                href="https://www.facebook.com/goITclub/"
                aria-label="Facebook"
                target="_blank"
              >
                <svg class="menu-social-icon" width="24" height="24">
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <button type="button" class="open-menu-but">
          <svg class="burger-icon" width="28" height="28">
            <use href="/img/sprite.svg#icon-burger"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="header-menu">
    <div class="container menu-wrap">
      <div class="menu-nav-wrap">
        <div class="menu">
          <a class="logo-header" href="/">yachtjet</a>
          <button type="button" class="close-menu-but">
            <svg class="close-icon" width="28" height="28">
              <use href="/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
        <nav class="menu-nav">
          <ul class="menu-list">
            <li class="menu-list-item">
              <a href="#about" aria-label="About section" class="menu-list-link"
                >About</a
              >
            </li>
            <li class="menu-list-item">
              <a
                href="#yachts"
                aria-label="Yachts section"
                class="menu-list-link"
                >Yachts</a
              >
            </li>
            <li class="menu-list-item">
              <a
                href="#reviews"
                aria-label="Review section"
                class="menu-list-link"
                >Reviews</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="menu-social">
        <ul class="menu-social-list">
          <li class="menu-social-item">
            <a
              href="https://www.instagram.com/goitclub/"
              aria-label="Instagram"
            >
              <svg class="menu-social-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a href="https://www.youtube.com/c/GoIT" aria-label="Youtube">
              <svg class="menu-social-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="menu-social-item">
            <a href="https://www.facebook.com/goITclub/" aria-label="Facebook">
              <svg class="menu-social-icon" width="24" height="24">
                <use href="/img/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
