<section class="hero">
  <div id="fixed_menu" class="container">
    <h1 class="hero-title" data-aos="fade-up">
      Explore the High Seas with Our Luxury Yacht Rentals
    </h1>
    <p class="hero-text" data-aos="fade-left">
      Experience the freedom and luxury of yachting on the open seas. Choose
      from our top-of-the-line yachts and embark on an unforgettable journey
      surrounded by breathtaking views and state-of-the-art amenities.
    </p>
    <a href="#rent-yacht" class="hero-button" data-aos="fade-right">
      Yacht rental
    </a>
  </div>
</section>