<section id="yachts" class="our-yachts scroll-to">
  <div class="yachts-container">
    <h2 class="our-yachts-title" data-aos="fade-up">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-list">
      <div class="our-yachts_cards" data-aos="flip-left">
        <picture>
          <source
            srcset="
              ./img/our-yachts/arrow.jpg    1x,
              ./img/our-yachts/arrow@2x.jpg 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-2x.jpg 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_tab2.jpg    1x,
              ./img/our-yachts/img-yaht_tab2-2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_mob.jpg   1x,
              ./img/our-yachts/img-yaht_mob2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/our-yachts/arrow.jpg"
            alt="Yacht ARROW"
            width="360"
            height="268"
            class="img-our-yachts"
            loading="lazy"
        /></picture>
        <div class="title-wrap-our-yachts">
          <div class="title-arrow-yachts">ARROW</div>
          <div class="title-luxury-yachts">LUXURY YAHTS</div>
        </div>
        <div class="title-wrap-our-yachts">
          <ul>
            <li class="text-name_item">LENGTH</li>
            <li class="text-name_item">BUILDER</li>
            <li class="text-name_item">BUILT</li>
            <li class="text-name_item">GUESTS</li>
            <li class="text-name_item">PRICE</li>
          </ul>
          <ul>
            <li class="text_item-our-yachts">48m(155ft)</li>
            <li class="text_item-our-yachts">Admiral</li>
            <li class="text_item-our-yachts">2021</li>
            <li class="text_item-our-yachts">11 in 5 cabins</li>
            <li class="text_item-our-yachts">€33, 500, 000</li>
          </ul>
        </div>
      </div>
      <div class="our-yachts_cards" data-aos="flip-left" data-aos-delay="300">
        <picture>
          <source
            srcset="
              ./img/our-yachts/benetti.jpg    1x,
              ./img/our-yachts/benetti@2x.jpg 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1-2.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-2-2x.jpg 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_tab1.jpg     1x,
              ./img/our-yachts/img-yaht_tab1-2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_tab1.jpg    1x,
              ./img/our-yachts/img-yaht_tab1-2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/our-yachts/benetti.jpg"
            alt="BENETTI OASIS"
            width="360"
            height="268"
            class="img-our-yachts"
            loading="lazy"
        /></picture>
        <div class="title-wrap-our-yachts">
          <div class="title-arrow-yachts title-hidden text_our-yacht">
            BENETTI OASIS 40M BO122
          </div>
          <div class="title-luxury-yachts">LUXURY YAHTS</div>
        </div>
        <div class="title-wrap-our-yachts">
          <ul>
            <li class="text-name_item">LENGTH</li>
            <li class="text-name_item">SHIPYARD</li>
            <li class="text-name_item">BUILT</li>
            <li class="text-name_item">GUESTS</li>
            <li class="text-name_item">PRICE</li>
          </ul>
          <ul>
            <li class="text_item-our-yachts">41m (133ft)</li>
            <li class="text_item-our-yachts">Benetti</p>
            <li class="text_item-our-yachts">2025</li>
            <li class="text_item-our-yachts">10 in 5 cabins</li>
            <li class="text_item-our-yachts">€23, 210, 000</li>
          </ul>
        </div>
      </div>
      <div class="our-yachts_cards" data-aos="flip-left" data-aos-delay="600">
        <picture>
          <source
            srcset="
              ./img/our-yachts/belle.jpg    1x,
              ./img/our-yachts/belle@2x.jpg 2x
            "
            media="(min-width: 1440px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1-3.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-3-2x.jpg 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1-3.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-3-2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1-3.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-3-2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/our-yachts/belle.jpg"
            alt="BELLE ANNA"
            width="360"
            height="268"
            class="img-our-yachts"
            loading="lazy"
        /></picture>
        <div class="title-wrap-our-yachts">
          <div class="title-arrow-yachts">BELLE ANNA</div>
          <div class="title-luxury-yachts">LUXURY YAHTS</div>
        </div>
        <div class="title-wrap-our-yachts">
          <ul>
            <li class="text-name_item">LENGTH</p>
            <li class="text-name_item">SHIPYARD</li>
            <li class="text-name_item">BUILT</li>
            <li class="text-name_item">GUESTS</li>
            <li class="text-name_item">PRICE</li>
          </ul>
          <ul>
            <li class="text_item-our-yachts">50m(155ft)</li>
            <li class="text_item-our-yachts">ISA</li>
            <li class="text_item-our-yachts">2012</li>
            <li class="text_item-our-yachts">12 in 6 cabins</li>
            <li class="text_item-our-yachts">€21, 000, 000</li>
          </ul>
        </div>
      </div>
    </div>
    <a
      href="#rent-yacht"
      aria-label="Rent section"
      class="our-yachts_button"
      data-aos="fade-right"
      >Yacht rental</a
    >
  </div>
</section>
