<section id="yachts" class="our-yachts scroll-to">
  <div class="yachts-container">
    <h2 class="our-yachts-title" data-aos="fade-up">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-list">
      <div class="our-yachts_cards" data-aos="flip-left">
        <picture
          ><source
            srcset="
              ./img/our-yachts/img-yaht_desk1.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-2x.jpg 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_tab2-2x.jpg 1x,
              ./img/our-yachts/img-yaht_tab2.jpg    2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_mob.jpg   1x,
              ./img/our-yachts/img-yaht_mob2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/our-yachts/img-yaht_desk1.jpg"
            alt="Yacht ARROW"
            width="345"
            height="268"
            class="img-our-yachts"
        /></picture>
        <div class="title-wrap-our-yachts">
          <div class="title-arrow-yachts">ARROW</div>
          <div class="title-luxury-yachts">LUXURY YAHTS</div>
        </div>
        <div class="title-wrap-our-yachts">
          <div>
            <p class="text-name_item">LENGTH</p>
            <p class="text-name_item">BUILDER</p>
            <p class="text-name_item">BUILT</p>
            <p class="text-name_item">GUESTS</p>
            <p class="text-name_item">PRICE</p>
          </div>
          <div>
            <p class="text_item-our-yachts">48m(155ft)</p>
            <p class="text_item-our-yachts">Admiral</p>
            <p class="text_item-our-yachts">2021</p>
            <p class="text_item-our-yachts">11 in 5 cabins</p>
            <p class="text_item-our-yachts">€33, 500, 000</p>
          </div>
        </div>
      </div>
      <div class="our-yachts_cards" data-aos="flip-left" data-aos-delay="300">
        <picture
          ><source
            srcset="
              ./img/our-yachts/img-yaht_desk1-2.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-2-2x.jpg 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_tab2x.jpg 1x,
              ./img/our-yachts/img-yaht_tab1.jpg  2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_tab2x.jpg 1x,
              ./img/our-yachts/img-yaht_tab1.jpg  2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/our-yachts/img-yaht_desk1-2.jpg"
            alt="BENETTI OASIS"
            width="345"
            height="268"
            class="img-our-yachts"
        /></picture>
        <div class="title-wrap-our-yachts">
          <div class="title-arrow-yachts title-hidden text_our-yacht">
            BENETTI OASIS 40M BO122
          </div>
          <div class="title-luxury-yachts">LUXURY YAHTS</div>
        </div>
        <div class="title-wrap-our-yachts">
          <div>
            <p class="text-name_item">LENGTH</p>
            <p class="text-name_item">SHIPYARD</p>
            <p class="text-name_item">BUILT</p>
            <p class="text-name_item">GUESTS</p>
            <p class="text-name_item">PRICE</p>
          </div>
          <div>
            <p class="text_item-our-yachts">41m (133ft)</p>
            <p class="text_item-our-yachts">Benetti</p>
            <p class="text_item-our-yachts">2025</p>
            <p class="text_item-our-yachts">10 in 5 cabins</p>
            <p class="text_item-our-yachts">€23, 210, 000</p>
          </div>
        </div>
      </div>
      <div class="our-yachts_cards" data-aos="flip-left" data-aos-delay="600">
        <picture
          ><source
            srcset="
              ./img/our-yachts/img-yaht_desk1-3.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-3-2x.jpg 2x
            "
            media="(min-width: 1280px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1-3.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-3-2x.jpg 2x
            "
            media="(min-width: 768px)" />
          <source
            srcset="
              ./img/our-yachts/img-yaht_desk1-3.jpg    1x,
              ./img/our-yachts/img-yaht_desk1-3-2x.jpg 2x
            "
            media="(max-width: 767px)" />
          <img
            src="./img/our-yachts/img-yaht_desk1-3.jpg"
            alt="BELLE ANNA"
            width="345"
            height="268"
            class="img-our-yachts"
        /></picture>
        <div class="title-wrap-our-yachts">
          <div class="title-arrow-yachts">BELLE ANNA</div>
          <div class="title-luxury-yachts">LUXURY YAHTS</div>
        </div>
        <div class="title-wrap-our-yachts">
          <div>
            <p class="text-name_item">LENGTH</p>
            <p class="text-name_item">SHIPYARD</p>
            <p class="text-name_item">BUILT</p>
            <p class="text-name_item">GUESTS</p>
            <p class="text-name_item">PRICE</p>
          </div>
          <div>
            <p class="text_item-our-yachts">50m(155ft)</p>
            <p class="text_item-our-yachts">ISA</p>
            <p class="text_item-our-yachts">2012</p>
            <p class="text_item-our-yachts">12 in 6 cabins</p>
            <p class="text_item-our-yachts">€21, 000, 000</p>
          </div>
        </div>
      </div>
    </div>
    <a href="#rent-yacht" class="our-yachts_button" data-aos="fade-right">Yacht rental</a>
  </div>
</section>
