<section class="rent-section scroll-to" id="rent-yacht">
  <div class="container change-direction">
    <div class="form-container">
      <h2 class="rent-bloc-title" data-aos="fade-up">Rent a yacht now</h2>
      <form action="/" data-aos="fade-right">
        <div class="form-rent-bloc-wrap">
          <input
            class="input-rent-bloc"
            type="text"
            name="user-name"
            id="user-name"
            placeholder="Full Name"
          />
          <input
            class="input-rent-bloc"
            type="email"
            name="user-email"
            id="user-email"
            placeholder="Email"
          />
          <input
            class="input-rent-bloc"
            type="tel"
            name="user-phone"
            id="user-phone"
            placeholder="Phone number"
          />
          <textarea
            class="comment-rent-bloc"
            name="user-comment"
            id="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button type="submit" class="form-button-rent-bloc">Send</button>
      </form>
    </div>
    <div class="picture-wrap">
      <picture data-aos="fade-right">
        <source
          srcset="
            ../img/rent-bloc-img-desk.jpg    1x,
            ../img/rent-bloc-img-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ../img/rent-bloc-img-tab.jpg    1x,
            ../img/rent-bloc-img-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ../img/rent-bloc-img-mob.jpg    1x,
            ../img/rent-bloc-img-mob-2x.jpg 2x
          "
          media="(max-width: 767px)"
        />
        <img
          class="rent-bloc-photo"
          src="../img/rent-bloc-img-mob.jpg"
          alt="yacht"
          width="704"
        />
      </picture>
    </div>
  </div>
</section>
